In [1]:
from pymongo import MongoClient

In [2]:
mongo_client = MongoClient('34.209.155.42', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [3]:
cursor = collection_reference.find()

In [4]:
cursor.count()

2149252

In [5]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 20}}])

In [6]:
len(list(cursor_sampl))

20

In [7]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [8]:
tw = next(cursor_sampl)

In [9]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'extended_entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'])

In [10]:
list(tw.values())[:5]

[ObjectId('5a65972336dd5f00016464fb'),
 'Mon Jan 22 07:47:46 +0000 2018',
 955346235782660096,
 '955346235782660096',
 'Some art installation that I happened upon. https://t.co/hOerxZCb11']

In [11]:
import pandas as pd

In [12]:
tw_sample_df = pd.DataFrame(list(collection_reference.aggregate([{'$sample': {'size': 5}}])))

In [13]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [25]:
tw_sample_df.select_dtypes(int)

TypeError: include and exclude must both be non-string sequences

In [16]:
tw_sample_df.select_dtypes(float)

TypeError: include and exclude must both be non-string sequences

In [17]:
tw_sample_df.select_dtypes('object')

TypeError: include and exclude must both be non-string sequences

In [18]:
tw_sample_df[['id', 'id_str', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str']]

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str
0,949540049338605568,949540049338605568,NaN,None,NaN,None
1,959958477970927616,959958477970927616,9.599551e+17,959955055267823618,8.580696e+17,858069567050047488
2,952567490445324288,952567490445324288,9.525672e+17,952567199260033024,1.710317e+09,1710316669
3,952313108264927237,952313108264927237,NaN,None,NaN,None
4,950128399170682880,950128399170682880,NaN,None,NaN,None

In [19]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [20]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [21]:
tw_sample_df

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,...,quoted_status_id_str,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,user_processed
0,5a5077b447b2a100b50615dc,None,None,2018-01-06 07:16:04,"[0, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': 'The world owes gratitude to NWO...,0,False,...,948376907556376576,0,0,False,"<a href=""http://twitter.com/download/android"" ...",The world owes gratitude to NWO soldier Obama ...,1515222964020,True,"{'id': 867491215226175488, 'id_str': '86749121...",NaN
1,5a765e9f15ba4c000154eb7a,None,None,2018-02-04 01:15:10,"[10, 54]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@erwinzie 😂😩 damn I feel bad about complaining...,1517706910971,False,"{'id': 291580703, 'id_str': '291580703', 'name...",True
2,5a5b7b3b36dd5f00015e2a5d,None,None,2018-01-14 15:46:02,"[78, 101]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",@Lbstrdvr6 @TheOnlyTibrael @Education4Libs @BG...,1515944762227,False,"{'id': 1710316669, 'id_str': '1710316669', 'na...",True
3,5a5a8e5136dd5f00015db485,None,None,2018-01-13 22:55:12,"[0, 1]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,...,952227528038670336,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",💠 https://t.co/UIGYm8cheF,1515884112789,False,"{'id': 64214915, 'id_str': '64214915', 'name':...",NaN
4,5a529ba547b2a100b50746bb,None,None,2018-01-07 22:13:57,"[0, 40]","{'hashtags': [{'text': 'booksnaps', 'indices':...","{'media': [{'id': 950128294967455744, 'id_str'...",NaN,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",Haven’t done any #booksnaps in awhile... https...,1515363237551,False,"{'id': 2371177014, 'id_str': '2371177014', 'na...",True

## Tweets Containing Geo Information

In [22]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

### DO NOT RUN THIS

In [23]:
# contain_geo_search.count()

    318373

## Distinct Users

#### TRY THIS

In [24]:
collection_reference.distinct('user')

OperationFailure: distinct too big, 16mb cap